.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #212529; /* Dunkelgrau */
  color: #ffd700; /* Gelb */
  border-radius: 8px;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 101;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.checklist-container {
  width: calc(100% - 290px);
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.dropdown {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffd700; /* Gelber Rahmen */
  border-radius: 4px;
  background-color: #343a40; /* Dunkelgrauer Hintergrund */
  color: #ffd700; /* Gelber Text */
  margin-right: 10px;
  flex: 1;
  appearance: none; /* Entfernt den Standard-Pfeil */
  -webkit-appearance: none; /* Für Safari */
  -moz-appearance: none; /* Für Firefox */
  position: relative;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="%23ffd700" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M6 9l6 6 6-6"/%3E%3C/svg%3E'); /* Gelber Pfeil */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Pfeil rechts positionieren */
  background-size: 16px 16px; /* Pfeilgröße */
}

.dropdown:hover {
  background-color: #212529; /* Hintergrundfarbe bei Hover */
  cursor: pointer;
}

.dropdown:focus {
  outline: none;
  box-shadow: 0 0 5px #ffd700; /* Gelber Leuchteffekt */
}


.form-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffd700;
  border: none;
  border-radius: 4px;
  color: #212529;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #e6b800;
}

.checklist-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.checklist-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #343a40;
  border-radius: 4px;
  color: #ffd700;
  font-weight: bold;
}

.form-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffd700;
  border: none;
  border-radius: 4px;
  color: #212529;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #e6b800;
}

.checklist-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.checklist-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #343a40;
  border-radius: 4px;
  color: #ffd700;
  font-weight: bold;
  transition: transform 0.5s ease, box-shadow 0.3s ease;

}
.checklist-item:hover {
  background-color: #101213;
  cursor: pointer;
  transform: scale(1.01); /* Leichtes Vergrößern */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Stärkerer Schatten */
}
/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .checklist-container {
    width: calc(100% - 100px);
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .checklist-container {
    margin-left: 0;
    width: calc(100% - 290px);
  }
}
