<div class="checklist-container">
  <div class="topbar">
    <select class="dropdown" [(ngModel)]="selectedDepartment" (change)="onFilterChange()">
      <option value="">Alle Abteilungen</option>
      <option *ngFor="let abteilung of abteilungen" [value]="abteilung">
        {{ abteilung }}
      </option>
    </select>

    <select class="dropdown" [(ngModel)]="selectedPosition" (change)="onFilterChange()">
      <option value="">Alle Positionen</option>
      <option *ngFor="let position of positions" [value]="position">
        {{ position }}
      </option>
    </select>
  </div>

  <ul class="checklist-list">
    <li *ngFor="let checklist of filteredChecklists" class="checklist-item" (click)="openChecklist(checklist.id)">
      <span class="checklist-text">
        {{ checklist.ueberschrift }} - {{ checklist.abteilungsname }} - {{ checklist.position }}
      </span>
      <app-checklistendetails *ngIf="selectedChecklistId" [id]="selectedChecklistId"></app-checklistendetails>

    </li>
  </ul>

  <!-- Angezeigte Details, falls eine Checkliste ausgewählt wurde -->
</div>
