<div class="checklist-details-container" *ngIf="userChecklist">
  <h1>{{ userChecklist.ueberschrift }}</h1>
  <p>Erstellt am: {{ userChecklist.createdAt | date:'dd.MM.yyyy, HH:mm:ss' }}</p>
  <p [ngClass]="{'status-in-progress': userChecklist.status === ChecklistStatus.IN_PROGRESS, 'status-complete': userChecklist.status === ChecklistStatus.COMPLETED}">
    Status: {{ userChecklist.status === ChecklistStatus.IN_PROGRESS ? 'In Bearbeitung' : 'Abgeschlossen' }}
  </p>
  <ul class="item-list" [ngClass]="{'locked': userChecklist.isLocked}">
    <li *ngFor="let item of userChecklist.useritems">
      <input type="checkbox" [(ngModel)]="item.isChecked" (change)="updateChecklistStatus()" [disabled]="userChecklist.isLocked" />
      <div>{{ item.originalItem.name }}</div>
      <span class="item-type">{{ item.originalItem.type }}</span>
      <span class="info-icon" (click)="toggleInfoBox(item)">ℹ️</span>
      <div class="info-box" *ngIf="selectedItem === item">
        Suchbegriffe: {{ item.originalItem.suchbegriff }}
      </div>
    </li>
  </ul>
  <button class="save-button" (click)="saveUserChecklist()" [disabled]="userChecklist.isLocked">Änderungen speichern</button>
  <button class="save-button" (click)="deleteUserChecklist()" [disabled]="userChecklist.isLocked">Checkliste löschen</button>
  <hr />
  <h3>Exportoptionen</h3>
  <button class="save-button" (click)="downloadExcel()">📊 Excel herunterladen</button>
  <button class="save-button" (click)="downloadPdf()">📄 PDF herunterladen</button>
  <button class="save-button" (click)="downloadWord()">📝 Word herunterladen</button>
</div>

<div *ngIf="!userChecklist">
  <p>Checkliste wird geladen oder konnte nicht gefunden werden.</p>
</div>
