<div class="saved-checklists-container">
  <h1 class="checklist-title">
    Gespeicherte Checklisten
  </h1>
  <ul class="checklist-list">
    <li *ngFor="let checklist of savedChecklists"
        class="checklist-item"
        (click)="editChecklist(checklist)">
      <h3>{{ checklist.ueberschrift }}</h3>
      <div>
        <button (click)="downloadExcel(checklist); $event.stopPropagation()">📊 Excel</button>
        <button (click)="downloadPdf(checklist); $event.stopPropagation()">📄 PDF</button>
        <button (click)="downloadWord(checklist); $event.stopPropagation()">📝 Word</button>
      </div>
    </li>
  </ul>
</div>
